body {
    align-items: center;
    background: linear-gradient(320deg, grey, lightblue, white, black);
}

.container {
    max-width: 350px;
    height: 1000px;
    margin: 10vh auto 0 auto;
    border-radius: 10px;
}

#wyczysc {
    background-color: red;
}

#wyczysc:hover {
    background-color: darkred;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 30px;}

.buttons {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    column-gap: 1px;
    row-gap: 1px;
}

.buttons > div {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 10px;
    background-color: aliceblue;
}

.button:hover {
    background-color: darkgrey;
}

.button {
    border: 1px soild #000;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}